@font-face{
  font-family: 'rl';
  src: url('Roboto-Light.ttf');
}
* {
  font-family: 'rl';
  font-weight: 300;
}
a {
  color: black;
}
.main {
  margin: 0 auto;
  width: 600px;
}

b {
  font-weight:bold;
}
