@font-face{
  font-family: 'font_light';
  src: url('font_light.ttf');
}
@font-face{
  font-family: 'font_bold';
  src: url('font_bold.ttf');
}
@font-face{
  font-family: 'ps';
  src: url('pressstart.ttf');
}
.mysocial {
  display: flex;
  margin: 0 auto;
}
.sociallink {
  margin-right: 20px;
}

body {
  background-color: black;
}
h1, p, h3, a {
  color: white;
  font-family: 'font_light';
  text-align: center;
}
.date {
  color: #383838;
}
.article {
  margin-left: 25px;
  width: 350px;
  border: solid 2px white;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.name {
  text-decoration: none;
}
h1 {
  font-family: 'ps';
}
h3 {
  font-family: 'font_bold';
}
