@font-face{
  font-family: 'rl';
  src: url('Roboto-Light.ttf');
}
* {
  font-family: 'rl';
  font-weight: 300;
  color: #efdab9;
}

.link {
  color: #edcf9f;
}
.link:hover {
  background-color: #edcf9f;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background-color: #343233;
  margin: 0px;
}
.all {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.nick {
  text-align: center;
}
.content {
  margin: 0 auto;
}
.stuff {
  display: flex;
}
h3 {
  position: relative;
  margin-right: 5px;
  top: -20px;
}


@media screen and (max-device-width: 500px) {
    * {
      font-size: 110%;
    }
    h1 {
      font-size: 60px;
    }
    .project {
      margin-left: 10px;
    }
    .all {
      padding-right: 20px;
      padding-left: 20px;
    }
    .crypto {
      font-size: 10px;
    }
}
@media screen and (min-device-width: 500px) {
    * {
      font-size: 100%;
    }
    h1 {
      font-size: 50px;
    }
}
.crypto {
  font-size: 15px;
}
